<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Пользователи</h1>
</div>
<div>
    <form th:action="@{/api/employees}" th:object="${employee}" method="post">
        <table>
            <tr>
                <td>
                    <p>Name: <input type="text" th:field="*{firstName}" /></p>
                    <p>LastName: <input type="text" th:field="*{lastName}" /></p>
                </td>
                <td>
                    <p>E-mail: <input type="text" th:field="*{emailId}"></p>
<!--                    <p>Status: <input type="text" th:field="*{status}"></p>-->
                    <select th:field="*{status}">
                        <option th:each="status1:${statuses}" th:text="${status1.name}" th:value="${status1.id}" />
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Create"/>
    </form>
</div>
<table border="1">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>E-mail</td>
        <td>Status</td>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.emailId}"></td>
        <td th:text="${employee.status.name}"></td>
        <td>
            <form th:action="@{/api/delete_employee}" th:object="${employee}" method="post">
                <input type="hidden" name="id" th:value="${employee.id}">
                <input type="hidden" name="firstName" th:value="${employee.firstName}">
                <input type="hidden" name="lastName" th:value="${employee.lastName}">
                <input type="hidden" name="emailId" th:value="${employee.emailId}">
<!--                <input type="hidden" name="status" th:value="${employee.status.name}">-->
                <button>DELETE</button>
            </form>
        </td>
    </tr>
</table>
<form>
    <a href="/">Back</a>
</form>
</body>
</html>