<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Пользователи</h1>
</div>
<div>
    <form th:action="@{/employees}" th:object="${employee}" method="post">
        <p>Name: <input type="text" th:field="*{firstName}" /></p>
        <p>LastName: <input type="text" th:field="*{lastName}" /></p>
<!--        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
    </form>
</div>
<table border="1">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>E-mail</td>
        <td>Status</td>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.emailId}"></td>
        <td th:text="${employee.status.name}"></td>
    </tr>
</table>
</body>
</html>